<div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      <img style="height: 45px" src="./assets/parlogog.png"/>
     <span style="color: #DCB639"> Hotel Paradise</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div *ngIf="isLoginSuccess" class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link"  [routerLink]="['home']" [ngClass]="{ 'active':activeTab==='home'}" (click)="active('home')">Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['guest-details']" [ngClass]="{ 'active':activeTab==='guests'}" (click)="active('guests')">Guests</a>
        </li>
      </ul>
      <button class="btn btn-info" (click)="logOut()" >Logout</button>
    </div>
  </nav>
</div>
