<div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      <img style="height: 45px" src="./assets/parlogog.png"/>
     <span style="color: #DCB639"> Hotel Paradise</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div *ngIf="isLoginSuccess" class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link"  [routerLink]="['home']" [ngClass]="{ 'active':activeTab==='home'}" (click)="active('home')">Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['guest-details']" [ngClass]="{ 'active':activeTab==='guests'}" (click)="active('guests')">Guests</a>
        </li>
      </ul>
<!--      <p style="color:white" class="pt-3 pr-3">WELCOME <strong>{{this.employeeName}}</strong></p>-->
<!--      <button class="btn btn-info" (click)="logOut()" >Logout</button>-->
<!--    </div>-->
    <div ngbDropdown class="dropdown d-flex justify-content-end">
      <a class="btn btn_secondary" role="button" id="dropdownMenuLink2" ngbDropdownToggle
         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:white"> {{employeeName}}
      </a>
      <a class="icon-notfy btn font-size-icon" role="button" id="dropdownMenuLink3"
         data-toggle="dropdown" aria-haspopup="true"> <i class="fa fa-user" style="color:darkseagreen"></i>
      </a>

      <div class="dropdown-menu profile-toolbar" ngbDropdownMenu aria-labelledby="dropdownMenuLink2">
        <a  ngbDropdownItem class="dropdown-item p-3 back-color-grey"
           [routerLink]="['employee-details']">Employee Details</a>
        <a  ngbDropdownItem class="dropdown-item p-3 back-color-grey"
            [routerLink]="['create-employee']">Create Employee</a>
        <a  ngbDropdownItem class="dropdown-item p-3 back-color-grey"
            [routerLink]="['change-password']">Change Password</a>
        <a ngbDropdownItem class="dropdown-item help-data p-3 border-top-color view-all" (click)="logOut()">
          Logout
        </a>
      </div>
    </div>
  </div>
  </nav>
</div>
