<div class="container-flex" style="background-image: url('./assets/home2.jpeg'); height: 100%">


  <form [formGroup]="employeeDetails" (ngSubmit)="saveOrUpdateEmployee()">
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <div class="card">
          <div class="card-body">
            <div class="card bg-success text-white">
              <div class="card-body d-flex justify-content-center"><h4>Hotel Paradise</h4></div>
            </div>
            <div class="col-lg-12">
              <div class="row">
                <div class="col-lg-12 my-3">
                  <h5>Change Password</h5>
                </div>
                <div class="alert alert-danger alert-dismissible col-lg-12" *ngIf="showErrorMessage">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                  {{this.errorMessage}}
                </div>
                <div class="col-lg-7">
                  <div class="form-group">
                    <label for="currentPassword">Current Password</label><i class="fa fa-asterisk" style="color: red; font-size: 0.4rem;top: -5px; position: relative" aria-hidden="true"></i>
                    <input type="password" class="form-control"  maxlength="10"  formControlName="password" placeholder="Current Password"
                           id="currentPassword">
                    <div [hidden]="!employeeForm.password.touched" *ngIf="employeeForm.password.errors">
                      <span class="text-danger" *ngIf="employeeForm.password.errors?.required">Password is required</span>
                    </div>
                  </div>
                </div>
                <div class="col-lg-7">
                  <div class="form-group">
                    <label for="newPassword">Password</label><i class="fa fa-asterisk" style="color: red; font-size: 0.4rem;top: -5px; position: relative" aria-hidden="true"></i>
                    <input type="password" class="form-control"  maxlength="10"  formControlName="newPassword" placeholder="Password"
                           id="newPassword">
                    <div [hidden]="!employeeForm.password.touched" *ngIf="employeeForm.password.errors">
                      <span class="text-danger" *ngIf="employeeForm.password.errors?.required">Password is required</span>
                      <span class="text-danger" *ngIf="employeeForm.password.errors?.minlength">Password should be at least 8 letters </span>
                    </div>
                  </div>
                </div>
                <div class="col-lg-7">
                  <div class="form-group">
                    <label for="confirmPassword">Confirm Password</label><i class="fa fa-asterisk" style="color: red; font-size: 0.4rem;top: -5px; position: relative" aria-hidden="true"></i>
                    <input type="password" class="form-control"  maxlength="10"  formControlName="confirmPassword" placeholder="Confirm Password" compare = "newPassword"
                           id="confirmPassword">
                    <div [hidden]="!employeeForm.confirmPassword.touched" *ngIf="employeeForm.confirmPassword.errors">
                      <span class="text-danger" *ngIf="employeeForm.confirmPassword.errors?.required">Confirm Password is required</span>
                      <span class="text-danger" *ngIf="employeeForm.confirmPassword.errors['compare']">Confirm password and Password dont match</span>

                    </div>
                  </div>
                </div>

              </div>
            </div>


          </div>
        </div>
      </div>
      <div class="col-lg-1"></div>
    </div>
    <div class="d-flex justify-content-center py-3">
      <button type="submit" class="btn btn-primary" style="min-width: 100px">Save</button>
    </div>
  </form>
</div>
