.btn.btn_primary {
  background-color: #0065bD;
  border-color: #0065bD;
  color: #fff !important;
  border-radius: 15px 15px 15px 15px;
  display: inline-flex;
  align-items: center;
  padding: 0;
  font-size: 1em;
  justify-content: center;
  padding: 7px 30px;
@include border_radius(20px);
}
